body {
            background-image: url('https://sm.ign.com/t/ign_es/screenshot/default/portada_nny5.1280.jpg');
            background-size: cover;      
            background-position: center; 
            background-repeat: no-repeat; 
            }